.colorSquare {
  height: 40px;
  width: 40px;
  background-color: aquamarine;
  border: 1px solid;
}
.colorSquare:hover {
  opacity: 0.8;
}
.colorSquareContainer {
  border: 1px solid;
  width: fit-content;
  padding: 5px;
  text-align: center;
}
.colorPicker {
  margin: auto;
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
}
.matrixSquare {
  width: 1rem;
  height: 1rem;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
.usernameContainer {
  position: absolute;
  top: -1;
  right: -1;
  border: 1px solid;
  padding: 8px 8px 5px 5px;
  border-radius: 0 0 0 8px;
}